body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #00356b; /* University of Exeter blue */
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 
        0 0 0 8px #0033a0,   /* Blue */
        0 0 0 10px #ffffff,  /* White */
        0 0 0 16px #00793e,  /* Green */
        0 0 0 18px #ffb612,  /* Yellow */
        0 0 0 26px #000000,  /* Black */
        0 0 0 28px #ffb612,  /* Yellow */
        0 0 0 34px #00793e,  /* Green */
        0 0 0 36px #ffffff,  /* White */
        0 0 0 44px #ff0000;  /* Red */
}

.logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #00793e; /* University of Exeter green */
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0033a0; /* Blue */
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
